html,
body {
	height: 100%;
}

.weather-display {
	border: 3px solid darkgray;
	background-image: #f0f8ff;
	background-color: #ebf5fb;
}

.image-custom {
	width: 800px;
	opacity: 80%;
}

.badge-moderate {
	color: black;
	border: 2px solid yellow;
	background-color: yellow;
}

.badge-extreme {
	color: black;
	border: 2px solid violet;
	background-color: violet;
}

.img-custom {
	width: 30px;
	height: 30px;
}

.bg-active {
	background-color: #ebf5fb;
	border: 3px solid darkgray;
}

.arrow-size {
	width: 200px;
}

.text-custom {
	font-size: large;
	margin: auto !important;
	color: red;
	font-weight: bold;
}

@media screen and (max-width: 600px) {
}
